<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    {% load polrep_extras %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'polrep/css/style.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css">

    <title>PolRep</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'polrep:index' %}">pol<strong>rep</strong></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if current_user %}
            <li class="dropdown">
              <a id="user-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Welcome, <strong>{{ current_user }}</strong> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li role="separator" class="divider"></li>
                <li class="text-center"><a id="signout-btn" href="{% url 'logout' %}">
                  Sign Out
                  <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                </a></li>
              </ul>
            </li>

            {% else %}

            <li><a id="signin-btn" href="{% url 'login' %}">
              Sign In
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            </a></li>
            <li><a href="{% url 'register' %}">
              Register
            </a></li>
            {% endif %}
          </ul>
        </div> <!-- /.navbar-collapse -->
      </div> <!-- /.container-fluid -->
    </nav>

    <div class="container configuration">
      <!-- Personal Account Config  -->

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h4>People</h4>
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                  <h3>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                     {{ current_user }} <small>{{ current_user_email }}</small>
                  </h3>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <a href="{% url 'logout' %}" class="btn btn-danger pull-right">
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign Out</a>
                </div>
              </div>
            </div>

            <div class="panel-body">
              {% if applied_update %}

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="alert alert-success alert-dismissible text-center" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> User information updated successfully!
                </div>
              </div>

              {% endif %}

              <form action="{% url 'configuration:update_people' %}" method="post">
                {% csrf_token %}
                <div class="form-group col-lg-6 col-md-12 col-xs-12">
                    <label for="first_name" class="control-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name }}">
                </div>
                <div class="form-group col-lg-6 col-md-12 col-xs-12">
                  <label for="last_name" class="control-label">Last Name</label>
                  <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name }}">
                </div>

                <div class="form-group col-md-12 col-xs-12">
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ current_user_email }}">
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn-primary save">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- End Personal Account Config  -->

      <!-- Aesthetics Config  -->

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h4>Aesthetics</h4>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Manage Your Personal Experience</h4>
            </div>
            <div class="panel-body">
              <form class="text-left" action="{% url 'configuration:update_people' %}" method="post">
                {% csrf_token %}

                <div class="form-group col-md-12 col-xs-12">
                    <label for="org-name" class="control-label">polrep Logo Color</label>
                    <input type="color" name="favcolor" value="#ff0000">
                </div>

                <div class="form-group col-md-12 col-xs-12">
                    <label for="org-name" class="control-label">Background Color</label>
                    <input type="color" name="favcolor" value="#ff0000">
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn-primary request-permissions">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- End Aesthetics Config  -->

      <!-- Library Config  -->

      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h4>Policy Library</h4>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Policy Management</h4>
            </div>
            {% if super_user == False %}
            <div class="panel-body text-center">
              <h1 class="text-muted">Viewing this content requires <strong><a data-toggle="modal" data-target="#special-permissions-modal">Special Permissions</a></strong></h1><br>
              <button type="button" class="btn btn-warning" id="request-special-permissions-btn">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Request Special Permissions
              </button>

              <div id="special-permissions-panel">
                <hr>

                <form class="text-left" action="{% url 'configuration:update_people' %}" method="post">
                  {% csrf_token %}

                  <div class="form-group col-md-12 col-xs-12">
                      <label for="org-name" class="control-label">Organization Name</label>
                      <input type="text" class="form-control" id="org-name" name="org-name" placeholder="Organization Name">
                  </div>

                  <div class="form-group col-md-12 col-xs-12">
                      <label for="request-reason" class="control-label">Purpose of Request</label>
                      <textarea class="form-control" id="request-reason" name="request-reason" rows="4" cols="80" placeholder="Please briefly state why you require access to special permissions."></textarea>
                  </div>

                  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button type="button" class="btn btn-danger cancel-permissions" id="cancel-permissions-btn">
                      Cancel
                    </button>
                  </div>

                  <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <button type="submit" class="btn btn-primary request-permissions">
                      Request
                    </button>
                  </div>
                </form>
              </div>
            </div>

            {% else %}

            <div class="panel-body text-center">
              {# <h1 class="text-muted">You have <strong>Special Permissions</strong></h1><br>#}
              <form action="{% url 'configuration:upload_files' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h4><strong>Add Policies</strong></h4>
                  <h5>What is the subtype of the policy or policies you wish to upload?</h5><br>
                  <div class="form-group">
                    <select class="form-control" id="pol-subtype-select" name="pol-subtype-select">
                      <option selected="selected" disabled>Choose a Policy Subtype</option>

                      {% for folder in available_folders %}
                      <option value="{{ folder }}">{{ folder|title }}</option>
                      {% endfor %}

                    </select>
                  </div>
                </div>
                <hr>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h4 class="text-muted">Your policies must be in the <strong>.pdf</strong>, <strong>.txt</strong>, or <strong>.docx</strong> format.
                  Our policy naming scheme follows the strict format: <strong>Municipality Name YEAR.file_extension</strong>
                  </h4>
                  <div class="form-group">
                    <label for="agree-name-format">
                      <input type="checkbox" id="agree-name-format" name="agree" value=""> My policies follow this format
                    </label>
                  </div>
                </div>

                <div id="upload-policy-dialog">
                  <hr>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <input type="file" class="form-control" name="policy-files" value="" multiple>
                      <p class="help-block">Only <strong>.txt</strong>, <strong>.pdf</strong>, <strong>.docx</strong></p>
                  </div>

                  <br>
                  <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn btn-primary request-permissions">
                      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                      Upload
                    </button>
                  </div>
                </div>
              </form>
              <a href="" data-toggle="modal" data-target="#policy-name-examples">Look at policy name examples</a>

              <hr>

              <form class="" action="{% url 'configuration:add_policy_subtype' %}" method="post">
                {% csrf_token %}

                <h4><strong>Add a New Policy Subtype</strong></h4>
                {% if subtypes %}
                <h5><strong>Existing Policy Subtypes:</strong>  {{ subtypes }}
                {% endif %}</h5> <br>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input type="text" class="form-control" id="new-policy-subtype" name="new-policy-subtype" placeholder="New Policy Subtype">
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn-primary request-permissions">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Policy Subtype
                  </button>
                </div>
              </form>
              <div class="clearfix"></div>
              <hr>

              <form class="" action="{% url 'configuration:add_municipality_type' %}" method="post">
                {% csrf_token %}

                <h4><strong>Add a New Municipality Type</strong></h4>
                {% if muni_types %}
                <h5><strong>Existing Municipality Types:</strong>  {{ muni_types }}
                {% endif %}</h5>
                <br>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <input type="text" class="form-control" id="new-municipality-type" name="new-municipality-type" placeholder="New Municipality Type">
                </div>

                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <button type="submit" class="btn btn-primary request-permissions">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Add Municipality Type
                  </button>
                </div>
              </form>
              <div class="clearfix"></div>
              <hr>
              <h4><strong>Remove Policies</strong></h4>
              <h5></h5>

              <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12" action="index.html" method="post">
                <button type="button" name="button" class="form-control btn btn-success">
                  <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filters</button>
                <div class="clearfix"></div>
                <div class="" id="filters-panel">
                  
                </div>
                <input type="password" name="superuser-password" class="form-control" placeholder="Enter Superuser Password">
              </form>
            </div>

            {% endif %}
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="policy-name-examples" tabindex="-1" role="dialog" aria-labelledby="policy-name-examplesLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="policy-name-examplesLabel">Example Policy Names</h4>
            </div>
            <div class="modal-body">
              <h4>These are example filenames for municipalities that have one policy per year.</h4><br>
              <table class="table">
                <thead>
                  <th>Municipality Name</th>
                  <th>Municipality Type</th>
                  <th>Year</th>
                  <th>File Type</th>
                  <th>Corresponding File Name</th>
                </thead>
                <tr>
                  <td>Albany</td>
                  <td>City</td>
                  <td>2012</td>
                  <td>pdf</td>
                  <td>City of Albany 2012.pdf</td>
                </tr>
                <tr>
                  <td>Bethel</td>
                  <td>Town</td>
                  <td>2010</td>
                  <td>txt</td>
                  <td>Town of Bethel 2010.txt</td>
                </tr>
                <tr>
                  <td>Naples</td>
                  <td>Village</td>
                  <td>2012</td>
                  <td>docx</td>
                  <td>Village of Naples 2012.docx</td>
                </tr>
              </table>

              <h4>These are example filenames for municipalities that have more than one policy per year.</h4><br>

              <table class="table">
                <thead>
                  <th>Municipality Name</th>
                  <th>Municipality Type</th>
                  <th>Year</th>
                  <th>File Type</th>
                  <th>Corresponding File Name</th>
                </thead>
                <tr>
                  <td>Albany</td>
                  <td>City</td>
                  <td>2012</td>
                  <td>pdf</td>
                  <td>City of Albany 2012a.pdf</td>
                </tr>
                <tr>
                  <td>Albany</td>
                  <td>City</td>
                  <td>2012</td>
                  <td>pdf</td>
                  <td>City of Albany 2012b.pdf</td>
                </tr>
                <tr>
                  <td>Naples</td>
                  <td>Village</td>
                  <td>2012</td>
                  <td>docx</td>
                  <td>Village of Naples 2012a.docx</td>
                </tr>
                <tr>
                  <td>Naples</td>
                  <td>Village</td>
                  <td>2012</td>
                  <td>docx</td>
                  <td>Village of Naples 2012b.docx</td>
                </tr>
                <tr>
                  <td>Naples</td>
                  <td>Village</td>
                  <td>2012</td>
                  <td>docx</td>
                  <td>Village of Naples 2012c.docx</td>
                </tr>
              </table>

              <h3>In Conclusion</h3>
              <h4>If a municipality only has one policy per year, the file name
                 should include the municipality type (village, town, city, etc.),
                 the year that the policy was passed, and the file extension.
              </h4><br>
              <h4>If a municipality has more than one policy per year, the file name
                 should include the municipality type (village, town, city, etc.),
                 the year that the policy was passed, a unique letter identifier next to the year (2012a, 2012b, 2012c, etc.) and the file extension.
              </h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Library Config  -->

      <!-- Request Special Permissions  -->

      <div class="row" id="">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
          <h4>Special Permissions</h4>
          <div class="panel panel-default">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
              Panel content
            </div>
          </div>
        </div>
      </div>

      <!-- End Request Special Permissions  -->


    </div>

    <!-- Modal -->
    <div class="modal fade" id="special-permissions-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Special Permissions</h3>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <a id="return-to-top"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></a>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Local JS for additional functionality -->

    <script type="text/javascript" src="{% static 'polrep/js/main.js' %}"></script>

    <!-- dropzonejs -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js">

    </script>

    <script type="text/javascript">
      $(document).ready(function(){
        $('#agree-name-format').click(function(){
          if($(this).is(':checked')) {
            $('#upload-policy-dialog').slideDown();
          }else {
            $('#upload-policy-dialog').slideUp();
          }
        });
      });
    </script>
  </body>
</html>
